{% extends "_layouts/default" %}

{% block content %}
    <div class="">
        {% set allBlocks = entry.contentBuilder.all() %}
        {% for block in allBlocks %}
            {% set prevBlock = allBlocks[loop.index0 - 1] ?? null %}
            {% set nextBlock = allBlocks[loop.index0 + 1] ?? null %}

            {# Get background colors #}
            {% set currentBg = block.backgroundColor.value ?? block.backgroundColor ?? 'transparent' %}
            {% set prevBg = prevBlock ? (prevBlock.backgroundColor.value ?? prevBlock.backgroundColor ?? 'transparent') : null %}
            {% set nextBg = nextBlock ? (nextBlock.backgroundColor.value ?? nextBlock.backgroundColor ?? 'transparent') : null %}

            {# Determine spacing classes #}
            {% set spacingClass = '' %}
            {% if prevBg == currentBg and prevBg != 'transparent' %}
                {% set spacingClass = spacingClass ~ ' -mt-16 lg:-mt-20' %}
            {% endif %}
            {% if nextBg == currentBg and nextBg != 'transparent' %}
                {% set spacingClass = spacingClass ~ ' -mb-16 lg:-mb-20' %}
            {% endif %}

            <div class="block{{ spacingClass }}">
                {{ block.render }}
            </div>
        {% endfor %}
    </div>

{% endblock %}