<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% include "_partials/seo" %}

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">

    {{ craft.vite.script("src/js/app.js", false) }}

    <script src="https://cloud.ccm19.de/app.js?apiKey=f5daf9f29580314ffc3a08c8e79bb60437726e606511487a&domain=69261871e4a6d17cba03ac62" referrerpolicy="origin"></script>
</head>
{% set hasBreadcrumbs = entry is defined and entry.section.handle != 'homepage' and (entry.ancestors.all()|length > 0 or entry.section.handle == 'blog') %}
<body class="{{ hasBreadcrumbs ? 'has-breadcrumbs' : '' }}">
{% include "header" %}

<main>
    {% block content %}{% endblock %}
</main>

{% include "footer" %}
</body>
</html>